@media (min-width: 300px){
    .root-container{
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
    }
    
    
    .container_3 {
        height: 170vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #161515;
    }
    
    .hide {
        display: none;
    }
    
    .accordians {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    
    .card_1 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-direction: row-reverse;
        background-image: url('../Home_page/Rectangle 38.png');
        background-size: cover;
        width: 250px;
        height: 300px;
        transition: 2s;
        animation: slide 2s ease-out;
        overflow: hidden;
        border-radius: 10px;
        overflow: hidden;
    }
    
    
    @keyframes slide {
        0% {
            height: 0;
        }
    
       30%{
        height: 200px;
       }
    
        100% {
            height: 300px;
        }
    }
    
    .caption_container {
        display: flex;
        justify-content: end;
        align-items: end;
        width: 100%;
    }
    
    .card_caption_1, .card_caption_2, .card_caption_3, .card_caption_4 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 300px;
        animation: popup 1s linear;
        writing-mode: vertical-lr;
    }
    
    
    @keyframes popup {
        0% {
            transform: translateY(60px);
        }
    
        100% {
            transform: translateY(0px);
        }
    }
    
    .button {
        height: 50px;
        width: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 10px;
    }
    
    .button_container {
        display: flex;
        justify-content: end;
        align-items: end;
    }
    
    .color_1 {
        background-color: #430E15;
        color: #fff;
    }
    
    .color_2 {
        background-color: #6B5B50;
        color: #fff;
    }
    
    .color_3 {
        background-color: #7D7D58;
        color: #fff;
    }
    
    .color_4 {
        background-color: #081927;
        color: #fff;
    }
    
    /* CONTENT */
    
    .content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 15px;
        animation: fadein 1s linear;
    }
    
    @keyframes fadein{
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }
    
    .content_button_container {
        display: flex;
        justify-content: start;
        align-items: start;
        width: 100%;
    }
    
    .explore_more {
        border-radius: 10px;
        background: #430E15;
        color: #fff;
        width: 150px;
        border: 2px solid transparent;
        height: 40px;
        transition: 1s;
    }
    
    .explore_more:hover{
        background-color: transparent;
        border: 2px solid #430E15;
    }
    
    .para_1 {
        color: #FFF;
        font-family: "DM Sans";
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        padding: 20px 0;
    }
    
    .heading {
        color: #FFF;
        margin-bottom: 30px;
        font-family: "IBM Plex Sans Condensed";
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 3px;
    }
    
}

@media (min-width: 400px){
    .card_1 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-direction: row-reverse;
        background-image: url('../Home_page/Rectangle 38.png');
        background-size: cover;
        width: 300px;
        height: 350px;
        transition: 2s;
        animation: slide 2s ease-out;
        overflow: hidden;
        border-radius: 10px;
        overflow: hidden;
    }
    
    
    @keyframes slide {
        0% {
            height: 0;
        }
    
       30%{
        height: 250px;
       }
    
        100% {
            height: 350px;
        }
    }
    
    .caption_container {
        display: flex;
        justify-content: end;
        align-items: end;
        width: 100%;
    }
    
    .card_caption_1, .card_caption_2, .card_caption_3, .card_caption_4 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 300px;
        animation: popup 1s linear;
        writing-mode: vertical-lr;
    }

    .card_caption_1, .card_caption_2, .card_caption_3, .card_caption_4 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 350px;
        animation: popup 1s linear;
        writing-mode: vertical-lr;
    }

    .button {
        height: 50px;
        width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 10px;
    }
    
}

@media (min-width : 600px){

    .container_3{
        height: 170vh;
    }

    .accordians{
        height: 90vh;
    }

    .card_1 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-direction: row-reverse;
        background-image: url('../Home_page/Rectangle 38.png');
        background-size: cover;
        width: 400px;
        height: 450px;
        transition: 2s;
        animation: slide 2s ease-out;
        overflow: hidden;
        border-radius: 10px;
        overflow: hidden;
    }
    
    
    @keyframes slide {
        0% {
            height: 0;
        }
    
       30%{
        height: 300px;
       }
    
        100% {
            height: 450px;
        }
    }
    
    .caption_container {
        display: flex;
        justify-content: end;
        align-items: end;
        width: 100%;
    }
    
    .card_caption_1, .card_caption_2, .card_caption_3, .card_caption_4 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 450px;
        animation: popup 1s linear;
        writing-mode: vertical-lr;
    }

    .button {
        height: 50px;
        width: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 10px;
    }
}

@media (min-width: 1024px){
    .root-container{
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
    }
    
    
    .container_3 {
        height: 100vh;
        display: grid;
        grid-template-columns: 50% 50%;
        background-color: #161515;
    }
    
    .hide {
        display: none;
    }
    
    .accordians {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        gap: 20px;
    }
    
    .card_1 {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        background-image: url('../Home_page/Rectangle 38.png');
        background-size: cover;
        width: 280px;
        height: 330px;
        transition: 2s;
        animation: slide 2s ease-out;
        overflow: hidden;
        border-radius: 10px;
        overflow: hidden;
    }
    
    
    @keyframes slide {
        0% {
            width: 0;
        }
    
       30%{
        width: 280px;
       }
    
        100% {
            width: 330px;
        }
    }
    
    .caption_container {
        display: flex;
        align-items: end;
        width: 100%;
    }
    
    .card_caption_1, .card_caption_2, .card_caption_3, .card_caption_4 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50px;
        animation: popup 1s linear;
        writing-mode: horizontal-tb;
    }
    
    
    @keyframes popup {
        0% {
            transform: translateY(60px);
        }
    
        100% {
            transform: translateY(0px);
        }
    }
    
    .button {
        writing-mode: vertical-rl;
        height: 330px;
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 10px;
    }
    
    .button_container {
        display: flex;
        justify-content: end;
        align-items: end;
    }

    /* content */

    .content{
        padding: 30px;
    }

    .para_1 {
        color: #FFF;
        font-family: "DM Sans";
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        padding: 20px 0;
    }
    
    .heading {
        font-size: 40px;
    }
      
}

@media (min-width: 1290px){
    .card_1{
        width: 330px;
        height: 400px;
    }

    .button{
        height: 400px;
    }

    .para_1{
        font-size: 16px;
    }

    .heading{
        font-size: 50px;
    }
}